*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 213, 213);
}
.head{
    height: 40px;
    width: 100%;
    color: white;
    background-color: rgb(139, 2, 2);
}
#wrapper{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img{
    display: flex;
    align-self:baseline;
   
}
h1{
    font-size: 5em;
    color: rgb(255, 81, 0);
}
h2{
    font-size: 2.5em;
    color: rgb(139, 2, 2);
}
